node_modules/
.env
cookies.txt
server/data/
server/temp/
movie-server/data/
adult-server/data/
public-site/uploads/
client/node_modules/
client/dist/
admin-panel/node_modules/
movie-client/node_modules/
adult-server/node_modules/
movie-server/node_modules/
*.zip
*.tar.gz
.idea/


